/* header css */
.header{
    width: 100%;
    height: 60px;
    background: #fff;
    position: fixed;
    top: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.13);
    z-index: 999;

}
.container{
    margin: 0 auto;
    width: 90%;
}
.logo{
    position: relative;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 600;
    color: #f5222d;
    line-height: 60px;

}
nav{
    width: 80%;
    margin: 0 auto;
}
nav ul{
    display: block;
    width: 100%;
    list-style-type: none;
    margin-bottom: 0px;
}
nav>ul>li{
    display: inline-block;
    position: relative;
    margin-left: 75px;
}
.nav_link{
    font-size: 16px;
    line-height: 60px;
    color: #545454;
}

.sub_menu{
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    width: 180px;
    position: absolute;
    height: auto;
    top: 100%;
    background: #fff;
    box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.22);
    margin-bottom: 0px;
    transition: 0.4s ease-in-out;
}
.sub_menu li{
    display: block;
    
}
.sub_menu li:hover,.sub_menu li:hover .nav_link {
    background: #f5222d;
    color: #fff;
}
nav>ul>li:hover .sub_menu{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.sub_menu li .nav_link{
    display: block;
    padding: 10px 15px;
    line-height: 1.7 !important;
}
.cart_icon{
    font-size: 30px;
    line-height: 60px;
}

.shopcard{
    margin: 15px !important;
}
.additional{
    padding: 5px 0px;
    margin-top: 15px;
    border-top: 2px solid #f5222d;
}
.price{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.7;
    margin-bottom: 2px;
}
.sidebar{
    width: 25%;
    padding: 15px;
    height: 400px;
    background: #f3f3f3;
    margin-right: 15px;
    position: sticky;
    top: 80px;
}

.size_button{
    display: inline-block;
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 50%;
    color: #000;
    border: 1px solid transparent;
}
.size_button:hover{
    border: 1px solid #f5222d;
}
.size_button:focus,
.size_button.active{
    background: #f5222d;
    color: #fff;
}
.ant-badge-not-a-wrapper:not(.ant-badge-status){
    vertical-align: super !important;
}
.clear_btn{
    position: absolute;
    right: 15px;
    bottom: 15px;
    border: none;
    outline: none;
    padding: 4px 8px;
    border-radius: 4px;
    background: #f5222d;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    transition: 0.4s;
}
.clear_btn:hover{
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
    transform: translateY(-1px);
}
.clear_btn:active{
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.06);
    transform: translateY(1px);
}
.cart_box{
    height: 100vh;
    max-width: 100%;
    width: 320px;
    background: #fcfcfc;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.171);
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    padding: 25px 20px;
    transition: 0.4s;

}
.cart_heading{
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.cart_box.open{
    transform: translateX(0);
}
.cart_box.close{
    transform: translateX(100%);
}
.cart_close_button{
    background: transparent;
    font-size: 30px;
    color: #f5222d;
    position: absolute;
    right: 15px;
    top: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.cart_items{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 100px;
}
.cart_items::-webkit-scrollbar{
    width: 2px;
    background: #ddd;
}
.cart_items::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
.cart_items::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
.checkout_button{
    display: block;
    position: absolute;
    bottom: 5px;
    left: 10px;
    background: #f5222d;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
    width: calc(100% - 20px);
    cursor: pointer;
    overflow: hidden;
    height: 40px;
}
.checkout_button span{
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 0.4s;
    line-height: 40px;

}
.checkout_button span:after{
    content: "Now";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    transform: translateY(100px);
    transition: 0.4s;
    line-height: 40px;
}
.card_item{
    width: 100%;
    padding: 15px 0px;
    margin: 2px;
    padding-left: 100px;
    position: relative;
    border-bottom: 1px dashed #ddd;
}
.card_item h5{
    font-size: 15px;
    color: #454545;
    
}
.card_item_img{
    position: absolute;
    left: 0px;
    top: 0;
    height: 100%;
    width: 70px;
    object-fit: cover;
}
.checkout_button:hover span{
    transform: translateY(-100px);
}
.delete_item_button{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
}
.delete_item{
    font-size: 16px;
    background: #e7e7e7;
    padding: 5px;
    border-radius: 4px;

}
.quantity_buttons{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.quantity_buttons button{
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    background: #cccbcb;
    display: inline-block;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    line-height: 20px;
    margin: 5px;
}
.item_price{
    font-weight: 600;
    color: #f5222d;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    right: 5px;
}
.total_pay{
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
}